.cards {
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  padding-top: 20px;
  margin: 0 auto;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 627px) {
.cards__list {
  grid-template-columns: repeat(auto-fit, 288px);
  gap: 20px 10px;
  margin-bottom: 20px;
}
}