.header {
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 94px;
  height: 26px;
  justify-content: center;
}

