.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  padding: 0 20px;
}

.modal__is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  height: 408px;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
}

.modal__title {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  width: 169px;
  height: 32px;
  font-weight: 500;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
  font-size: 32px;
}

.modal__close-btn {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  background-position: center;
  background-size: 22.63px 22.63px;
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
}
.modal__close-btn::before,
.modal__close-btn::after {
  content: "";
  position: absolute;
  width: 22.63px;
  height: 2px;
  background-color: rgba(33, 33, 33, 0.4);
}

.modal__close-btn::before {
  transform: rotate(90deg);
}

.modal__close-btn::after {
  transform: rotate(0deg);
}

.modal__close-btn:hover::before,
.modal__close-btn:hover::after {
  background-color: rgba(33, 33, 33, 1);
}

.modal__input {
  margin-top: 8px;
  margin-bottom: 32px;
  right: 50px;
  display: block;
  flex-direction: column;
  padding: 16px 12px;
  width: 730px;
  border-radius: 8px;
  font-size: 20px;
  color: rgba(33, 33, 33, 0.3);
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__form {
  margin: 0;
}

.modal__label {
  color: rgba(33, 33, 33, 0.7);
}

.modal__submit-btn{
  cursor: pointer;
  border: none;
  height: 52px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  font-size: 16px;
  width: 156px;
}

@media screen and (max-width: 627px) {
  .modal{
    padding: 0;
  }
  .modal__is-opened{
    padding-left: 0;
    visibility: visible;
  }

  .modal__container {
    width: 100%;
    max-width: 300px;
    padding: 24px 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }

  .modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: 276px;
  }

  .modal__label{
    max-width: 276px;
  }

  .modal__title{
    width: 106px;
    font-size: 20px;
    line-height: 100%;
    margin: 0;
  }

  .modal__close-btn{
    width: 40px;
    height: 40px;
    margin: 0;
    right: 12px;
    top: 12px;
    background-color: transparent;
    border: none;
    position: absolute;
  }

  .modal__input{
    max-width: 276px;
  }

  .modal__form{
    gap: 24px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-top: 32px;
  }

  .modal__submit-btn{
    margin: 0;
    height: 52px;
  }
}

.modal__new-post-btn{
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  padding: 0 20px;
}
