.page {
  width: 100%;
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.page__section {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

