.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  /* width: 1440px;
  height: 1416px; */
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
