.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  font-family: "Poppins", Arial, sans-serif;
}

.profile__avatar {
  max-width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__details {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  font-family: "Poppins", Arial, sans-serif;
  color: #212121;
  font-weight: 500;
  line-height: 32px;
  max-width: 420px;
  margin: 0 0 12px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  line-height: 16px;
  margin-top: auto;
  background-color: transparent;
  color: rgba(33, 33, 33, 1);
  opacity: 0.7;
  border: none;
  align-self: start;
  height: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile__edit:hover {
  opacity: 1;
  cursor: pointer;
}

.add-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 149px;
  height: 52px;
  padding: 12px 20px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border: none;
  color: rgba(252, 245, 229, 1);
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  margin-top: auto;
  margin-left: auto;
}

.add-card-button:hover {
  background-color:rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

.profile__button-plus {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 20px 0 16px;

  }

  .profile__avatar {
    height: 80px;
    max-width: 80px;
    margin-right: 0;
  }

  .profile__details {
    text-align: center;
    margin-right: 0;
  }

  .profile__name {
    font-size: 20px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 6px;
    align-self: center;
  }

  .profile__description {
    margin-bottom: 32px;
  }

  .profile__edit {
    align-self: center;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .add-card-button {
    margin: 0 auto;
    width: 288px;
  }
}
